*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --color-primary: rgb(239, 239, 239);
  --color-primary-light: #F2F4F3;
  --color-primary-dark: #0A0908;

  --color-secondary-light: #A9927D;
  --color-secondary-dark: #5E503F; */

  --white: rgb(247, 251, 252);
  --neutral-100: rgb(100, 100, 100);
  --neutral-300: rgb(60, 60, 60);
  --neutral-500: rgb(44, 44, 44);
  --yellow: rgb(255, 221, 108);

  --accent-500: rgb(97, 160, 255);

  --max-width: 1200px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h3, h4, h2 {
  color: var(--white)
}

h2 {
  font-size: 2rem;
  margin: 1rem;
}

header {
  background-color: var(--neutral-500);
  color: var(--white);
  padding: 1rem;
}

nav {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.nav-title {
  flex: 1 1 10ch;
}

.nav-user {
  flex: 1 1 20%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-shortcuts {
  flex: 1 1 40%;
  display: flex;
  gap: 1rem;
  list-style: none;
}


main {
  /* max-width: var(--max-width); */
  margin-inline: auto;
  /* overflow: hidden; */
}

.layout {
  display: flex;

  flex-wrap: wrap;
}

.layout aside {
  flex: 1 1 20%;
  background-color: #333;
}

aside {
  padding: 2rem 0;
}

aside > div {
  position: static;
  top: 0;
  margin: 1rem;
}

.pane {
  margin: 1rem 0.5rem;
  background-color: var(--neutral-100);

  padding: 1rem;
  border-radius: 0.5rem;
}

button {
  padding: 0.5rem;
  margin: 0.125rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: transparent;
}

.toggled {
  background-color: var(--accent-500);
}

.toggled:hover {
  background-color: var(--neutral-100);
  color: var(--neutral-500)
}

.untoggled {
  background-color: var(--neutral-300)
}

/* LAYOUT */

.layout .content {
  flex: 1 1 80%;

  background-color: var(--neutral-300);
  overflow-y: scroll;
  min-height: 100vh;
  padding: 1rem 4rem;
  margin-inline: auto;
}

/* .even-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  place-items: center;
} */

.even-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.even-columns > * {
  flex: 1 1 300px;
}

/* SECTION */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 1rem 0;
  color:rgb(247, 251, 252);
}

.section-header h2 {
  margin: 0;
}

.section-header a {
  cursor: pointer;
}

.section-header a:hover {
  text-decoration: underline;
}

/* CARDS */

.card {
  border-radius: 1rem;
  overflow: hidden;
}

.anime-card {
  position: relative;
  color:rgb(247, 251, 252);
  overflow: hidden;
  background-color: transparent;

  max-height: 200px;
  margin-inline: auto;
}

.anime-card .title {
  font-size: 0.75rem;
  font-weight: 500;
}

.anime-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  object-position: 0 -10em;
}

.play-button {
  border-radius: 50%;
  padding: 1rem;
  max-width: 50px;
  max-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.anime-card-content {
  position: absolute;
  display: flex;
  gap: 1rem;

  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  
  left: 0;
  bottom: 0;

  width: 100%;
  height: 40%;
  padding: 0 1rem;

  backdrop-filter: blur(20px) brightness(80%) opacity(0.9);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
  overflow-x: hidden;
  overflow-y: auto;
}

.anime-card-content > :nth-child(1) {
  flex: 1 1 1ch;
}
.anime-card-content > :nth-child(2) {
  flex: 2 1 20ch;
}
.anime-card-content > :nth-child(3) {
  flex: 1 1 auto;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.25rem 1rem;
}