*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --color-primary: rgb(239, 239, 239);
  --color-primary-light: #F2F4F3;
  --color-primary-dark: #0A0908;

  --color-secondary-light: #A9927D;
  --color-secondary-dark: #5E503F; */

  --white: rgb(247, 251, 252);
  --accent-100: rgb(214, 230, 242);
  --accent-300: rgb(185, 215, 234);
  --accent-500: rgb(118, 159, 205);
  --yellow: rgb(255, 221, 108);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  color: var(--white);
  background-color: var(--accent-500);
  font-weight: 600;
}

.btn-dark {
  color: var(--white);
  background-color: var(--accent-500);
}
.btn-dark:hover {
  color: var(--white);
  background-color: var(--accent-300);
}

.btn-light {
  color: var(--accent-500);
  background-color: var(--white);
}
.btn-light:hover {
  color: var(--white);
  background-color: var(--accent-300);
}

.transparent {
  background-color: transparent;
}

header {
  width: 100%;   background-color: var(--accent-500);
}

nav {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  padding: 1rem;

  margin-bottom: 2rem;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 1rem;
}

section {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.custom-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.border-bottom { border-bottom: 1px solid var(--accent-500); }

.card {
  text-align: center;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--accent-500);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h4 {
  text-align: center;
  margin: 0.5rem auto;
  width: 130px;
  font-size: 0.75rem;
  font-weight: 600;
  text-overflow: ellipsis;
}

.card-content > p {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-y: auto;
  padding: 0 1rem;
}

.card img {
  min-width: 100%;
  max-width: 100%;
  height: 200px;
  outline: var(--accent-500) 0.125rem solid;
}

.stars {
  color: var(--yellow);
}

.genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--accent-500);
  color: var(--white);
}

.scroll-horizontal {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
  justify-content: start;
  scroll-snap-align: none center;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  margin: 1rem 0;

  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS devices */
}

.scroll-horizontal > .card {
  scroll-snap-align: none center;
}

.scroll-button {
  height: 20px;
  padding: 2rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--accent-500);
}

.interactable {
  cursor: pointer;
}

.interactable:focus-visible {
  outline: var(--accent-100) 0.5rem solid;
}
