*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --color-primary: rgb(239, 239, 239);
  --color-primary-light: #F2F4F3;
  --color-primary-dark: #0A0908;

  --color-secondary-light: #A9927D;
  --color-secondary-dark: #5E503F; */

  --white: rgb(247, 251, 252);
  --accent-100: rgb(214, 230, 242);
  --accent-300: rgb(185, 215, 234);
  --accent-500: rgb(118, 159, 205);
  --yellow: rgb(255, 221, 108);

  --max-width: 1200px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow: hidden;
}

header {
  background-color: var(--accent-500);
  color: var(--white);
  padding: 1rem;
}

nav {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.nav-title {
  flex: 1 1 10ch;
}

.nav-user {
  flex: 1 1 20%;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-shortcuts {
  flex: 1 1 40%;
  display: flex;
  gap: 1rem;
  list-style: none;
}


main {
  /* max-width: var(--max-width); */
  margin-inline: auto;
  overflow: hidden;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.layout aside {
  flex: 1 1 20%;
  background-color: #333;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);
  padding: 2rem 0;
}

.pane {
  margin: 1rem 0.5rem;
  background-color: #666;

  padding: 1rem;
  border-radius: 0.5rem;
}

.genre-button {
  padding: 0.5rem;
  margin: 0.125rem;
  background-color: var(--accent-500);
  border-radius: 0.5rem;
  cursor: pointer;
  border: transparent;
}

.genre-button:hover {
  background-color: var(--accent-100);
  color: var(--accent-500)
}

.layout .content {
  flex: 1 1 80%;

  background-color: var(--accent-300);
  overflow-y: scroll;
  height: 100vh;
  padding: 4rem;
}

.even-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.even-columns {
  flex-grow: 1
}

.card {
  border-radius: 1rem;
  overflow: hidden;
}

.anime-card {
  position: relative;
  color:rgb(247, 251, 252);
  overflow: hidden;
  background-color: transparent;

  max-width: 400px;
  max-height: 200px
}

.anime-card .title {
  font-size: 0.75rem;
  font-weight: 500;
}

.anime-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  object-position: 0px -150px;
}

.play-button {
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.anime-card-content {
  position: absolute;
  display: flex;
  gap: 1rem;

  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  
  left: 0;
  bottom: 0;

  width: 100%;
  min-height: 20%;

  padding: 1rem;

  backdrop-filter: blur(20px) brightness(100%) opacity(0.9);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  
  overflow-x: hidden;
  overflow-y: auto;
}

.anime-card-content > :nth-child(1) {
  flex: 1 1 1ch;
}
.anime-card-content > :nth-child(2) {
  flex: 2 1 20ch;
}
.anime-card-content > :nth-child(3) {
  flex: 1 1 auto;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.25rem 1rem;
}